#Ignore all spark and hadoop
hadoop-3.4.1/*
spark-3.5.5-bin-hadoop3/*

#conf dirs
!hadoop-3.4.1/etc
!hadoop-3.4.1/etc/hadoop
!spark-3.5.5-bin-hadoop3/conf

#hdfs conf
!hadoop-3.4.1/etc/hadoop/core-site.xml
!hadoop-3.4.1/etc/hadoop/hdfs-site.xml
!hadoop-3.4.1/etc/hadoop/hadoop-env.sh

#yarn conf
!hadoop-3.4.1/etc/hadoop/capacity-scheduler.xml 
!hadoop-3.4.1/etc/hadoop/yarn-site.xml

#spark conf
!spark-3.5.5-bin-hadoop3/conf/spark-env.sh
!spark-3.5.5-bin-hadoop3/conf/workers







